#download {
  --download-button-size: 10rem;

  & .card {
    position: relative;

    padding: 3rem 1.5rem 15rem;

    & > img {
      position: absolute;

      width: 14.5rem;

      bottom: 0;
      right: -3.5rem;
    }
  }

  .buttons {
    flex-wrap: wrap;
    margin-top: 2rem;

    & img {
      max-width: var(--download-button-size);
      outline: 1px solid transparent;
      border-radius: .5rem;
    }
    & img:hover {
      transition: 200ms;
      outline: 1px solid rgba(255, 255, 255, 0.7);
      border-radius: .5rem;
    }
  }
}

@media (width >= 80em) {
  #download {
    --download-button-size: 100%;

    .card {
      padding: 8rem 5rem;

      & > div:nth-child(1) {
        max-width: 40rem;
      }
      & > img {
        width: 30rem;
        filter: drop-shadow(3rem 4rem 4rem rgba(0, 0, 0, 1));
      }
    }
  }
}
